<h1>Sarah Dudley made this for CS471.</h1>
<div style="margin-top:100px" *ngIf="this.queues[0].threads.length > 0 && this.queues[0].threads != undefined">
    <div class="col-xs-2">
        <table class="table table-striped">
            <thead>
                <th>Ready Queue (Priority 1)</th>
            </thead>
            <tbody>
                <tr *ngFor = "let thread of queues[0].threads">
                    <td>{{thread.id}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-2">
        <table class="table table-striped">
            <thead>
                <th>Ready Queue (Priority 2)</th>
            </thead>
            <tbody>
                <tr *ngFor = "let thread of queues[1].threads">
                    <td>{{thread.id}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-2">
        <table class="table table-striped">
            <thead>
                <th>Ready Queue (Priority 3)</th>
            </thead>
            <tbody>
                <tr *ngFor = "let thread of queues[2].threads">
                    <td>{{thread.id}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-2">
        <table class="table table-striped">
            <thead>
                <th>Ready Queue (Priority 4)</th>
            </thead>
            <tbody>
                <tr *ngFor = "let thread of queues[3].threads">
                    <td>{{thread.id}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-2">
        <table class="table table-striped">
            <thead>
                <th>Ready Queue (Priority 5)</th>
            </thead>
            <tbody>
                <tr *ngFor = "let thread of queues[4].threads">
                    <td>{{thread.id}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-xs-12" *ngIf="this.blockedThreads !== null && this.blockedThreads !== undefined">
    <h2 class="col-xs-3">Blocked Threads:</h2>
    <ul style="display:inline-block; margin-top:25px;" *ngFor = "let thread of blockedThreads">
        <li style="list-style-type:none;">{{thread.id}}</li>
    </ul>
</div>
<div class="col-xs-12" *ngIf="this.completeThreads !== null && this.completeThreads !== undefined">
    <h2 class="col-xs-3">Completed Threads:</h2>
    <ul style="display:inline-block; margin-top:25px;" *ngFor = "let thread of completeThreads">
        <li style="list-style-type:none;">{{thread.id}}</li>
    </ul>
</div>
<div class="col-xs-12">
    <h2 class="col-xs-4" *ngIf="this.runningThread !== null">Thread #{{this.runningThread.id}} (Priority {{this.runningThread.priority}}):</h2>
    <div class="col-xs-8" style="margin-top:25px;" *ngIf="this.runningThread !== null">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
            [attr.aria-valuenow]="this.runningThread.progress" aria-valuemin="0" [attr.aria-valuemax]="100" [style.width]="((this.runningThread.progress)/100)*100 + '%'">
            {{this.runningThread.progress}}% Complete
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12" style="margin-top:25px" *ngIf="create === true">
    <label>Select Priority #</label>
    <select [(ngModel)]="this.inputPriority">
      <option value="1" selected>1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <button type="btn btn-info submit" (click)="onSubmit();" class="btn btn-default">Submit</button>
</div>
<div class="col-xs-12" style="margin: 0 auto; text-align:center;">
    <button class ="col-xs-4" (click) = "createThread()" class="btn btn-info ew" style="width:280px">Create Thread</button>
    <button class ="col-xs-4" (click) = "contextSwitch()" class="btn btn-primary ew" style="width: 280px">Context Switch</button>
    <button class ="col-xs-4" (click) = "killSwitch()" class="btn btn-danger ew" style="width: 280px">Kill Thread</button>
</div>
